@import "tailwindcss";

@theme inline {
  --height-nav: 4rem;
  --spacing-layout: 4rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 32rem;
}

:root {
 
}

@theme {
 
}


/* 平滑滚动 */
html {
  scroll-behavior: smooth;
}